<li id="additionalinfo" data-bind="fadeVisible: isVisible()">
    <div class="block">
    <div class="block-title">
        <strong id="block-no-account-heading" role="heading" aria-level="2" data-bind="i18n: 'I do not have an account'"></strong>
    </div>
    <div class="block-content" aria-labelledby="block-no-account-heading">        
        <label>
            <input type="radio" id="html0" name="fav_language" value="yes"> Free Product
            <input type="radio" id="html1"name="fav_language" value="val2"> Free Product
            <input type="radio" id="html2"name="fav_language" value="val3"> Free Product 
            <input type="radio"id="html3" name="fav_language" value="fav_val4"> Free Product
            <input type="radio" id="html" name="fav_language" value="HTML">Free Product
            <input type="radio" id="html0" name="fav_language" value="yes">Free Product
            <input type="radio" id="css" name="fav_language" value="CSS">Free Product
            <input type="radio" id="javascript" name="fav_language" value="JavaScript">
        </label>
        <div class="actions-toolbar">
            <div class="primary">
                <a class="action create primary" data-bind="click: proceedWithoutLogin">
                    <span data-bind="i18n: 'Next'"></span>
                </a>
            </div>
        </div>
    </div>
</div>

</li>
